In [37]:
import pandas as pd
import seaborn as sns

In [38]:
tips = sns.load_dataset('tips')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [39]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [40]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [41]:
tips['sex_type']=tips['sex'].astype(str)
tips

     total_bill   tip     sex smoker   day    time  size sex_type
0         16.99  1.01  Female     No   Sun  Dinner     2   Female
1         10.34  1.66    Male     No   Sun  Dinner     3     Male
2         21.01  3.50    Male     No   Sun  Dinner     3     Male
3         23.68  3.31    Male     No   Sun  Dinner     2     Male
4         24.59  3.61  Female     No   Sun  Dinner     4   Female
5         25.29  4.71    Male     No   Sun  Dinner     4     Male
6          8.77  2.00    Male     No   Sun  Dinner     2     Male
7         26.88  3.12    Male     No   Sun  Dinner     4     Male
8         15.04  1.96    Male     No   Sun  Dinner     2     Male
9         14.78  3.23    Male     No   Sun  Dinner     2     Male
10        10.27  1.71    Male     No   Sun  Dinner     2     Male
11        35.26  5.00  Female     No   Sun  Dinner     4   Female
12        15.42  1.57    Male     No   Sun  Dinner     2     Male
13        18.43  3.00    Male     No   Sun  Dinner     4     Male
14        14.83  3.02  Female     No   Sun  Dinner     2   Female
15        21.58  3.92    Male     No   Sun  Dinner     2     Male
16        10.33  1.67  Female     No   Sun  Dinner     3   Female
17        16.29  3.71    Male     No   Sun  Dinner     3     Male
18        16.97  3.50  Female     No   Sun  Dinner     3   Female
19        20.65  3.35    Male     No   Sat  Dinner     3     Male
20        17.92  4.08    Male     No   Sat  Dinner     2     Male
21        20.29  2.75  Female     No   Sat  Dinner     2   Female
22        15.77  2.23  Female     No   Sat  Dinner     2   Female
23        39.42  7.58    Male     No   Sat  Dinner     4     Male
24        19.82  3.18    Male     No   Sat  Dinner     2     Male
25        17.81  2.34    Male     No   Sat  Dinner     4     Male
26        13.37  2.00    Male     No   Sat  Dinner     2     Male
27        12.69  2.00    Male     No   Sat  Dinner     2     Male
28        21.70  4.30    Male     No   Sat  Dinner     2     Male
29        19.65  3.00  Female     No   Sat  Dinner     2   Female
..          ...   ...     ...    ...   ...     ...   ...      ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3   Female
215       12.90  1.10  Female    Yes   Sat  Dinner     2   Female
216       28.15  3.00    Male    Yes   Sat  Dinner     5     Male
217       11.59  1.50    Male    Yes   Sat  Dinner     2     Male
218        7.74  1.44    Male    Yes   Sat  Dinner     2     Male
219       30.14  3.09  Female    Yes   Sat  Dinner     4   Female
220       12.16  2.20    Male    Yes   Fri   Lunch     2     Male
221       13.42  3.48  Female    Yes   Fri   Lunch     2   Female
222        8.58  1.92    Male    Yes   Fri   Lunch     1     Male
223       15.98  3.00  Female     No   Fri   Lunch     3   Female
224       13.42  1.58    Male    Yes   Fri   Lunch     2     Male
225       16.27  2.50  Female    Yes   Fri   Lunch     2   Female
226       10.09  2.00  Female    Yes   Fri   Lunch     2   Female
227       20.45  3.00    Male     No   Sat  Dinner     4     Male
228       13.28  2.72    Male     No   Sat  Dinner     2     Male
229       22.12  2.88  Female    Yes   Sat  Dinner     2   Female
230       24.01  2.00    Male    Yes   Sat  Dinner     4     Male
231       15.69  3.00    Male    Yes   Sat  Dinner     3     Male
232       11.61  3.39    Male     No   Sat  Dinner     2     Male
233       10.77  1.47    Male     No   Sat  Dinner     2     Male
234       15.53  3.00    Male    Yes   Sat  Dinner     2     Male
235       10.07  1.25    Male     No   Sat  Dinner     2     Male
236       12.60  1.00    Male    Yes   Sat  Dinner     2     Male
237       32.83  1.17    Male    Yes   Sat  Dinner     2     Male
238       35.83  4.67  Female     No   Sat  Dinner     3   Female
239       29.03  5.92    Male     No   Sat  Dinner     3     Male
240       27.18  2.00  Female    Yes   Sat  Dinner     2   Female
241       22.67  2.00    Male    Yes   Sat  Dinner     2     Male
242       17.82  1.75    Male     No   Sat  Dinner     2     Male
243       18.78  3.00  Female     No  Thur  Dinner     2   Female

[244 rows x 8 columns]

In [42]:
tips['pay_bill']=tips['total_bill'].astype(float)
tips
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 9 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
sex_type      244 non-null object
pay_bill      244 non-null float64
dtypes: category(4), float64(3), int64(1), object(1)
memory usage: 11.0+ KB

In [43]:
tips.loc[[1,4,2,9],'pay_bill']='missing'
tips.head()

   total_bill   tip     sex smoker  day    time  size sex_type pay_bill
0       16.99  1.01  Female     No  Sun  Dinner     2   Female    16.99
1       10.34  1.66    Male     No  Sun  Dinner     3     Male  missing
2       21.01  3.50    Male     No  Sun  Dinner     3     Male  missing
3       23.68  3.31    Male     No  Sun  Dinner     2     Male    23.68
4       24.59  3.61  Female     No  Sun  Dinner     4   Female  missing

In [44]:
pd.to_numeric(tips['pay_bill'])

ValueError: Unable to parse string "missing" at position 1

In [46]:
tips['pay_bill'].astype(float)

ValueError: could not convert string to float: missing

In [47]:
pd.to_numeric(tips['pay_bill'],errors='ignore').head()

0      16.99
1    missing
2    missing
3      23.68
4    missing
Name: pay_bill, dtype: object

In [48]:
tips=pd.to_numeric(tips['pay_bill'],errors='coerce')

In [50]:
tips.head()

0    16.99
1      NaN
2      NaN
3    23.68
4      NaN
Name: pay_bill, dtype: float64

In [54]:
tips=pd.DataFrame(tips.fillna(method='ffill').head())

In [55]:
tips

   pay_bill
0     16.99
1     16.99
2     16.99
3     23.68
4     23.68

In [60]:
s=len(tips['pay_bill'])
print tips['pay_bill'].sum()/s
print tips['pay_bill'].mean()

19.666
19.666